<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Estilos.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Activos</title>
    
</head>
<body>

    <div class="container">
        <h1>Agredar nuevo Producto</h1>
        
        <form th:action="@{/insertProducto}" method="POST">
            
            <div class="form-group">
                <label for="nombreproducto">Nombre del Producto:</label>
                <input type="text" id="nombreproducto" name="nombre" placeholder="Ej. televisor" required>
            </div>

            <div class="form-group">
                <label for="PrecioVenta">Precio Venta:</label>
                <input type="text" id="PrecioVenta" name="precio_venta_unitario" placeholder="Ej. 200" required>
            </div>
            
            <div class="form-group">
                <label for="url">Url del Producto:</label>
                <input type="text" id="url" name="url_imagen" placeholder="Ej. https://www.compumax.com/televisor.jpg" required>
            </div>

            

                        

            <div class="button-container">
                <button class="button" type="submit">Agregar Producto</button>
            </div>

            <div class="button-container">
                <a th:href="@{/Productos}" class="button">Volver</a>
            </div>
        </form>

       
    </div>

</body>
</html>