<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Principal</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/Estilos.css}">
</head>

<body>
    <div th:replace="fragments :: layout('Principal', ~{::main})">
        <main>
            <div>
                <h1 style="text-align: center;">Notificaciones</h1>
            </div>
            <div class="dashboard">
                <div class="card">
                    <h3>Transacciones Recientes</h3>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tipo</th>
                                    <th>Cantidad</th>
                                    <th>Costo Transacción</th>
                                    <th>Producto</th>
                                    <th>Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="transaccion : ${transacciones}">
                                    <td th:text="${transaccion.fecha}">-</td>
                                    <td th:text="${transaccion.tipo}">-</td>
                                    <td th:text="${transaccion.cantidad}">-</td>
                                    <td
                                        th:text="'$' + ${#numbers.formatDecimal(transaccion.costoUnitario, 1, 'COMMA', 2, 'POINT')}">
                                    </td>
                                    <td th:text="${transaccion.producto}">-</td>
                                    <td th:text="${transaccion.usuario}">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <!-- Tabla de productos con stock bajo -->
                    <h3>Productos con Stock Bajo</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad en Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="producto : ${productosBajoStock}">
                                <td th:text="${producto.nombre}"></td>
                                <td th:text="${producto.cantidad_en_stock}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Gráfica de productos con stock bajo -->
                    <h3>Gráfica de productos con stock bajo</h3>
                    <canvas id="stockChart" width="600" height="300"></canvas>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let nombres = [
            /*[# th:each="p : ${productosBajoStock}"]*/
            '[[${ p.nombre }]]',
            /*[/]*/
        ];
        let cantidades = [
            /*[# th:each="p : ${productosBajoStock}"]*/
            '[[${ p.cantidad_en_stock }]]',
            /*[/]*/
        ];
        let precios = [
            /*[# th:each="p : ${productosBajoStock}"]*/
            '[[${ p.precio_venta_unitario}]]',
            /*[/]*/
        ];
        const ctx = document.getElementById('stockChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: nombres,
                datasets: [{
                    label: 'Cantidad en Stock',
                    data: cantidades,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Precio de Venta Unitario',
                    data: precios,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        onClick: function (e, legendItem, legend) {
                            const index = legendItem.datasetIndex;
                            const ci = legend.chart;
                            ci.data.datasets.forEach((dataset, i) => {
                                ci.setDatasetVisibility(i, i === index);
                            });
                            ci.update();
                        }
                    }
                }
            }
        });
        /*]]>*/
    </script>
</body>

</html>