<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Pedidos</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/Estilos.css}">

</head>

<body>
    <div th:replace="fragments :: layout('Transacciones', ~{::main})"></div>
    <main>


        <div class="dashboard">
            <div class="card">
                <h3>Transacciones</h3>
                <div class="filtros">

                    <select id="fecha" name="Selectfiltos">
                        <option value="">Fecha</option>
                        <option value="desc">Más reciente</option>
                        <option value="asc">Más antiguo</option>
                    </select>

                    <select id="tipo" name="Selectfiltos">
                        <option value="">Tipo</option>
                        <option value="Pedido">Pedido</option>
                        <option value="Compra">Compra</option>
                    </select>



                    <select id="producto" name="Selectfiltos">
                        <option value="">Producto</option>
                        <option th:each="vproducto:${listproducto}" th:value="${vproducto.id_producto}">
                            <font th:text="${vproducto.nombre}"></font>
                        </option>
                    </select>

                    <select id="usuario" name="Selectfiltos">
                        <option value="">Usuario</option>
                        <option th:each="vusuario:${listusuario}" th:value="${vusuario.nombreUsuario}">
                            <font th:text="${vusuario.nombreUsuario}"></font>
                        </option>
                    </select>


                    <div class="top-actions">
                        <button class="buscar" onclick="filtrar()">Buscar</button>
                        <button class="limpiar" onclick="limpiarFiltros()">Limpiar</button>
                    </div>
                </div>

                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Cantidad</th>
                                <th>Costo Transacción</th>
                                <th>Producto</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr th:each="transaccion : ${transacciones}">
                                <td th:text="${transaccion.fecha}" th:attr="data-fecha=${transaccion.fecha}">-</td>

                                <td th:text="${transaccion.tipo}">-</td>
                                <td th:text="${transaccion.cantidad}">-</td>
                                <td th:text="'$' + ${#numbers.formatDecimal(transaccion.costoUnitario, 1, 'COMMA', 2, 'POINT')}"
                                    th:attr="data-precio=${transaccion.costoUnitario}">
                                </td>
                                <td th:text="${transaccion.producto}" th:attr="data-producto=${transaccion.idProducto}">
                                    -</td>
                                <td th:text="${transaccion.usuario}" th:attr="data-usuario=${transaccion.usuario}">-
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('hidden');
        }


    </script>
    <script th:src="@{/js/funciones.js}"></script>
</body>

</html>